*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100% );
  font-family: sans-serif;
}

/* regole dei contenitori*/

#wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container{
  width: 80%;
  min-width: 900px;
  height: 95%;
  display: flex;
}

/* regole della parte sinistra e di destra  */

.sinistra{
  width: 35%;
  height: 100%;
}

.destra{
  width: 65%;
  /* debug */
  background-color: green;
  /* debug */
  height: 100%;
}

/* contenuto parte di sinistra */

/* inizio header sinistra */

.header-sinistra{
  width: 100%;
  height: 70px;
  background: #EAEAEA;
  padding: 0 10px;
  display: flex;
}

.logo-sinistra{
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;

}

.logo-sinistra img{
  width: 50px;
  height: auto;
  border-radius: 100%;
}

.icone-sinistra{
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  justify-content: flex-end;
}

.icone-sinistra .fas{
  color: rgb(177, 177, 177);
  font-size: 22px;
  padding: 0 10px;
  cursor: pointer;
}

/* fine header sinistra */

/* Inizio blocco notifiche */

.notifiche-messaggi{
  width: 100%;
  height: 80px;
  background: #8EDAFC;
  padding: 0 10px;
  display: flex;
}

.icona-silenzia{
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.icona-silenzia .fas{
width: 50px;
height: 50px;
background: #F2FBFF;
border-radius: 100%;
text-align: center;
color: #8EDAFC;
line-height: 50px;
font-size: 20px;
cursor: pointer;
}

.testo-silenzia{
  margin: auto 0;
  font-size: 14px;
  line-height: 18px;
}

.testo-silenzia a{
  color: #4F7485;
}

/* fine blocco notifiche */

.barra-ricerca{
  width: 100%;
  height: 50px;
  background: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* input di ricerca, da modificare nel prossimo milestone l'html */

.barra-ricerca input{
  width: 80%;
  height: 40px;;
  border: 1px solid lightgrey;
  color: grey;
  border-left: none;
}

.barra-ricerca .fas{
  color: rgb(177, 177, 177);
  font-size: 18px;
  background-color: white;
  border: 1px solid lightgrey;
  border-right: none;
  padding: 10px;
  text-align: center;
}

/* Inizio stile div contatti */

.container-contatti{
  width: 100%;
  height: calc(100% - 200px);
  overflow: auto;
  background-color: white;
}

.contatti{
  height: 80px;
  background: white;
  border-bottom: 1px solid #F5F5F5;
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contatti img{
  width: 60px;
  height: auto;
  border-radius: 100%;
}

.nome-account{
  padding-left: 24px;
  width: 70%;
}

.nome-account p:nth-child(2){
  color: lightgrey;
  font-size: 14px;
  line-height: 24px;
}


.orario-chat p{
  text-align: right;
  color: lightgrey;
  font-size: 14px;
  line-height: 24px;
}

/* fine stile div contatti */

/* inizio contenuto parte di destra */

.header-destra{
  height: 70px;
  width: 100%;
  background: #EAEAEA;
  border-left: 1px solid lightgrey;
  display: flex;
}

.contatto-attivo{
  display: flex;
  align-items: center;
  width: 50%;
  padding: 0 10px;
}

.icone-destra{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.icone-destra .fas{
  color: rgb(177, 177, 177);
  font-size: 22px;
  padding: 0 10px;
  cursor: pointer;
}

.contatto-attivo img{
  width: 50px;
  height: auto;
  border-radius: 100%;
}

.contatto-attivo div{
  padding-left: 14px;
}

.contatto-attivo div p:nth-child(2){
  color: grey;
  font-size: 14px;
  line-height: 24px;
}

/* inizio corpo della chat */

.container-chat{
  background-image: url("../img/sfondo.jpg");
  background-repeat: repeat;
  width: 100%;
  height: calc(100% - 140px);
  overflow-y: scroll;
}

.footer-destra{
  background: #EAEAEA;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
}

.fa-telegram-plane, .fa-microphone, .fa-smile{
  color: grey;
  font-size: 28px;
  padding: 0 20px;
  cursor: pointer;
}

.emoji, .microfono-invio{
  width: 10%;
  height: auto;
}

.text-box{
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
}

.text-box input{
  border-radius: 4px;
  border: none;
  color: grey;
  width: 100%;
  height: 50px;
  padding-left: 20px;
}

.text-box input::placeholder{
  font-size: 14px;
}

/* fine parte di destra */

/* Classi messaggi inviati input text box */

.chat-items-container{
  margin: 20px 80px;
  display: flex;
  justify-content: space-between;
}




/* messaggio inviato dall'utente, ovvero dal form di input */


.green-message{
  border-radius: 12px;
  background-color: #d5f9ba;
  max-width: 180px;
  height: auto;
  display: flex;
  align-items: center;
  padding: 18px 8px;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
  margin-top: 40px;
}

/* messaggio di risposta automatica */
.white-message{
  border-radius: 12px;
  background-color: white;
  max-width: 180px;
  height: auto;
  display: flex;
  align-items: center;
  padding: 18px 8px;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
}

.white-message2{
  border-radius: 12px;
  background-color: white;
  max-width: 180px;
  height: auto;
  display: flex;
  align-items: center;
  padding: 18px 8px;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
  margin-top: 70px;
}

.f-right{
  padding-left: 10px;
  padding-bottom: 20px;
  font-size: 12px;
}

.fa.fa-chevron-down.f-right{
  display: none;
}

.opzioni{
background-color: white;
padding: 10px;
border-radius: 4px;
margin-top: 4px;
display: none;
cursor: pointer;
}

/* hover div contatti */

.contatti:hover{
  background: rgba(0,0,0,0.2);
}
